<launch>
    
    <!-- move base stuff (not used) -->
    <!--include file="$(find beacon_locator)/launch/includes/gmapping.launch.xml"/-->
    <!--include file="$(find beacon_locator)/launch/includes/move_base.launch.xml"/-->

    <include file="$(find beacon_locator)/launch/includes/crosbot_move.launch.xml"/>
    <include file="$(find beacon_locator)/launch/includes/costmap2d.launch.xml"/>

    <!--include file="$(find beacon_locator)/launch/includes/hector_trajectory_server.launch.xml"/-->

    <!--node pkg="beacon_locator" type="locator.py" name="beacon_locator_node" output="screen">
        <rosparam>
            beacons: [
                { id: 0, top: pink, bottom: green },
                { id: 1, top: blue, bottom: pink },
                { id: 2, top: pink, bottom: yellow },
                { id: 3, top: yellow, bottom: pink },
                { id: 4, top: pink, bottom: blue },
                { id: 5, top: green, bottom: pink }
            ]
        </rosparam>
	<rosparam> beaconsToFind: 4 </rosparam>
    </node-->

    <!--node pkg="beacon_locator" type="maze_explorer.py" name="maze_explorer" output="screen"/-->
</launch>
